annotated-types==0.7.0
asttokens==2.4.1
av==13.0.0
cairocffi==1.7.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
cloup==3.0.5
colorama==0.4.6
colour==0.1.5
commonmark==0.9.1
decorator==5.1.1
docutils==0.21.2
executing==2.1.0
ffmpeg==1.4
glcontext==3.0.0
idna==3.8
ipython==8.27.0
isosurfaces==0.1.2
jedi==0.19.1
Jinja2==3.1.4
lxml==5.3.0
manim==0.18.1
manim-slides==5.1.7
ManimPango==0.5.0
mapbox_earcut==1.0.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
moderngl==5.11.1
moderngl-window==2.4.6
multipledispatch==1.0.0
networkx==3.3
numpy==1.26.4
packaging==24.1
pangocairocffi==0.4.0
pangocffi==0.8.0
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
progressbar==2.5
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.27.0
pycparser==2.22
pydantic==2.9.1
pydantic-extra-types==2.9.0
pydantic_core==2.23.3
pydub==0.25.1
pyglet==2.0.17
Pygments==2.18.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pyrr==0.10.3
python-pptx==1.0.2
QtPy==2.4.1
requests==2.32.3
rich==13.8.1
rtoml==0.11.0
scipy==1.14.1
screeninfo==0.8.1
setuptools==72.1.0
six==1.16.0
skia-pathops==0.8.0.post1
srt==3.5.3
stack-data==0.6.3
svgelements==1.9.6
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.3
watchdog==5.0.2
wcwidth==0.2.13
wheel==0.43.0
XlsxWriter==3.2.0
